@*Tecnologia de View - Razor*@
@model List<Funcionario>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />
<fieldset>
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr class="table-info">
                <th scope="row">#</th>
                <th scope="col">Matrícula</th>
                <th scope="col">Cpf</th>
                <th scope="col">Nome</th>
                <th scope="col">Criado em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Funcionario funcionarioCadastrado in Model)
            {
<tr>
    <td>@funcionarioCadastrado.Id</td>
    <td>@funcionarioCadastrado.Matricula</td>
    <td>@funcionarioCadastrado.Cpf</td>
    <td>@funcionarioCadastrado.Nome</td>
    <td>@funcionarioCadastrado.CriadoEm</td>
    <td><a asp-action="Remover" asp-controller="Funcionario" asp-route-id="@funcionarioCadastrado.Id"> Remover</a></td>
    <td><a asp-action="Alterar" asp-controller="Funcionario" asp-route-id="@funcionarioCadastrado.Id"> Alterar</a></td>
</tr>
}
        </tbody>
    </table>
</fieldset>

<p><b>Quantidade de Registros: </b>@Model.Count</p>
<p><b>Atualizado em:</b>@DateTime.Now</p>
