@*Tecnologia de View - Razor*@
@model List<Prontuario>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />
<fieldset>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th scope="row">#</th>
                <th scope="col">Matrícula Vinculada</th>
                <th scope="col">Custódia Vinculada</th>
                <th scope="col">Criado em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Prontuario prontuarioCadastrado in Model)
            {
<tr>
    <td>@prontuarioCadastrado.Id</td>
    <td>@prontuarioCadastrado.Funcionario.Matricula</td>
    <td>@prontuarioCadastrado.Caixa.Custodia</td>
    <td>@prontuarioCadastrado.CriadoEm</td>
    <td><a asp-action="Remover" asp-controller="Prontuario" asp-route-id="@prontuarioCadastrado.Id"> Remover</a></td>
    <td><a asp-action="Alterar" asp-controller="Prontuario" asp-route-id="@prontuarioCadastrado.Id"> Alterar</a></td>
</tr>
}
        </tbody>
    </table>
</fieldset>

<p><b>Quantidade de Registros: </b>@Model.Count</p>
<p><b>Atualizado em:</b>@DateTime.Now</p>
