@model IEnumerable<GestaoRHWeb.Models.ItemSolicitacao>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<br />
<br />
<br />
<div class="form-group col-8">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr class="table-info">
                <th scope="row">#</th>
                <th scope="col">Prontuario ID</th>
                <th scope="col">Matrícula Vinculada</th>
                <th scope="col">Custódia Vinculada</th>
                <th scope="col">Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ItemSolicitacao itens in Model)
            {
<tr>
    <td>@itens.Id</td>
    <td>@itens.Prontuario.Id</td>
    <td>@itens.Matricula</td>
    <td>@itens.Custodia</td>
    <td>@itens.CriadoEm</td>
    <td><a asp-action="Remover" asp-controller="Solicitacao" asp-route-id="@itens.Id"> Remover</a></td>
</tr>}
        </tbody>
    </table>
</div>
